@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
  background-image: url("https://upload.fusemeow.codes/uploads/94bf0d61bf9e05f9.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
